[Desktop Entry]
Type=Application
Name=Install SmoothOS
Comment=Launch the SmoothOS System Installer
Exec=sudo archinstall
Icon=system-software-install
Terminal=true
Categories=System;
